$primary: #FF4646;
$primary10: rgba(255, 70, 70, 0.10);
$static-white: #FFF;
$static-white40: rgba(255, 255, 255, 0.40);
$static-white20: rgba(255, 255, 255, 0.20);
$tag-purple: #4361FF;
$tag-pink: #FF43F7;
$tag-green:#06A44F;
$content-bg: #ECF3F8;
$overlay: rgba(24, 28, 41, 0.80);
$dark: #181C29;

